HELP.md
target/
#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**/target/
#!**/src/test/**/target/

src/main/java/com/example/Spotify/model/songs/
src/main/java/com/example/Spotify/model/songs_cover/
src/main/java/com/example/Spotify/model/albums_cover/
src/main/java/com/example/Spotify/model/userImage/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/

### NetBeans ###
#/nbproject/private/
#/nbbuild/
#/dist/
#/nbdist/
#/.nb-gradle/

### Gradle ###
build/
#!**/src/main/**/build/
#!**/src/test/**/build/

### VS Code ###
.vscode/
